<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/payment_cp_cash.css" />

<div class="row">
    <div class="col-sm-12">
        <h1>Tiendas disponibles.</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label for="payment_type">Antes de finalizar seleccione la tienda de su preferencia.</label><hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 cpprovider-select">
        {% if show_logos %}
        <ul>
            {% for provider in providers %}
                <li>
                    <input type="radio" id="compropago_{{ provider.internal_name }}" name="payment_type" value="{{ provider.internal_name }}">
                    <label for="compropago_{{ provider.internal_name }}">
                        <img src="{{ provider.image_medium }}" alt="{{ provider.name }}">
                    </label>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <select name="payment_type" id="payment_type" class="form-control">
                {% for provider in providers %}
                    <option value="{{ provider.internal_name }}">{{ provider.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>




<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
</div>

<script type="text/javascript">
    var providers = document.querySelectorAll(".cpprovider-select ul li label img");

    for (x = 0; x < providers.length; x++){
        providers[x].addEventListener('click', function(){
            cleanCpRadio();
            id = this.getAttribute("alt");
            document.querySelector("#"+id).checked = true;
        });
    }

    function cleanCpRadio(){
        for(y = 0; y < providers.length; y++){
            id = providers[y].parentNode.getAttribute('for');
            document.querySelector("#"+id).checked = false;
        }
    }

    $('#button-confirm').on('click', function(e) {
        e.preventDefault();

        var providers = $("[name='payment_type']");
        var paymentType = null;

        if (providers.length > 1) {
            for (var i = 0; i < providers.length; i++) {
                if ($(providers[i]).is(':checked')) {
                    paymentType = $(providers[i]).val();
                }
            }
        } else {
            paymentType = $('select[name=cp_provider]').val();
        }

        if (paymentType === null){
            alert('Debe seleccionar un proveedor para realizar su pago');
        } else {
            $.ajax({
                type: 'post',
                url: 'index.php?route=extension/payment/cp_cash/confirm',
                dataType: 'json',
                data: {
                    payment_type: paymentType
                },
                beforeSend: function () {
                    $('#button-confirm').button('loading');
                },
                complete: function () {
                    $('#button-confirm').button('reset');
                },
                success: function (json) {
                    console.log(json);

                    if (json['redirect']) {
                        location = json['redirect'];
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    });
</script>
