{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a id="save_config" href="#" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </a>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>

      <h1>{{ heading_title }}</h1>

      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>

      <div class="panel-body">
        <form action="{{ action }}" name="cp_cash_form" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group">
            <label for="status" class="col-sm-2 control-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_cp_cash_status" id="mode" class="form-control">
                <option value="1" {{ status ? 'selected' : '' }}>{{ entry_status_active }}</option>
                <option value="0" {{ not status ? 'selected' : '' }}>{{ entry_status_deactive }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="public_key" class="col-sm-2 control-label">{{ entry_public_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_cp_cash_public_key" id="public_key" class="form-control" value="{{ public_key }}">
            </div>
          </div>

          <div class="form-group">
            <label for="private_key"class="col-sm-2 control-label">{{ entry_private_key }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_cp_cash_private_key" id="private_key" class="form-control" value="{{ private_key }}">
            </div>
          </div>

          <div class="form-group">
            <label for="mode" class="col-sm-2 control-label">{{ entry_mode }}</label>
            <div class="col-sm-10">
              <select name="payment_cp_cash_mode" id="mode" class="form-control">
                <option value="1" {{ mode ? 'selected' : '' }}>{{ entry_mode_active }}</option>
                <option value="0" {{ not mode ? 'selected' : '' }}>{{ entry_mode_deactive }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="show_logos" class="col-sm-2 control-label">{{ entry_show_logos }}</label>
            <div class="col-sm-10">
              <select name="payment_cp_cash_show_logos" id="mode" class="form-control">
                <option value="1" {{ show_logos ? 'selected' : '' }}>{{ entry_show_logos_active }}</option>
                <option value="0" {{ not show_logos ? 'selected' : '' }}>{{ entry_show_logos_deactive }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="providers" class="col-sm-2 control-label">{{ entry_providers }}</label>
            <div class="col-sm-5">
              <select id="deactive_providers" multiple="" class="form-control"style="height:100px;">
                {% for provider in deactive_providers %}
                <option value="{{ provider.internal_name }}">{{ provider.name }}</option>
                {% endfor %}
              </select> <br>

              <a id="deactive_provider" href="#" class="btn btn-primary" style="width:100%">{{ entry_providers_active }}</a>
            </div>

            <div class="col-sm-5">
              <select id="active_providers" multiple="" class="form-control" style="height:100px;">
                {% for provider in active_providers %}
                <option value="{{ provider.internal_name }}">{{ provider.name }}</option>
                {% endfor %}
              </select> <br>
              <a id="active_provider" href="#" class="btn btn-primary" style="width:100%">{{ entry_providers_deactive }}</a>
            </div>

            <input id="providers" name="payment_cp_cash_providers" type="hidden" value=""/>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_cp_cash_sort_order" value="{{ sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    $('#active_provider').click(function(e){
        e.preventDefault();
        $("#active_providers option").each(function(){
            if($(this).is(':selected')){
                $('#deactive_providers').append('<option value="'+$(this).val()+'">'+$(this).html()+'</option>');
                $(this).remove();
            }
        });
    });
    $('#deactive_provider').click(function(e){
        e.preventDefault();

        $("#deactive_providers option").each(function(){
            if($(this).is(':selected')){
                $('#active_providers').append('<option value="'+$(this).val()+'">'+$(this).html()+'</option>');
                $(this).remove();
            }
        });
    });
    $('#save_config').click(function(e) {
        e.preventDefault();
        var active = '';
        $('#active_providers option').each(function(){
            if (active == '') {
                active += $(this).val();
            } else {
                active += ','+$(this).val();
            }
        });
        console.log(active);
        $('#providers').val(active);
        document.cp_cash_form.submit();
    });
</script>

{{ footer }} 